.infos-container{
    z-index: 10;
    position: absolute;
    background-color: none;
    width: 40vw;
    color: white;
    border: 1px solid white;
    border-radius: 40px;
   top: 60px;
   left: 60px;
   
}
h1{margin-top: 20px;
    margin-left: 20px;
font-size: 30px;}
h2{margin-top: 20px;
    margin-left: 20px;
    font-size: 20px;}
p{margin-top: 20px;
    margin-left: 20px;
    font-size: 20px;}

*{
    background-color: none;  
    font-family: Arial, Helvetica, sans-serif;
}


.renderer{
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
}